<% layout("layouts/boilerplate")%>
<div class="card" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title"><%= product.name %></h5>
    <p class="card-text"><%= product.description %></p>
    <p class="card-text">$<%= product.price%></p>
    <div class="card-body">
      <a class="card-link btn btn-info" href="/<%=product._id  %>/edit">Edit</a>
      <form
        action="/<%=product._id%>?_method=DELETE"
        method="POST"
        class="d-inline"
      >
        <button class="btn btn-sm btn-danger ml-5">Delete</button>
      </form>
    </div>
    <a href="/" class="card-link btn btn-info">back to products</a>
  </div>
</div>
